/* COLOR PALETTE 
#9dFFB0 (green)
#81F1F7 (light blue)
#FFFFFA (cream)
#F9A7B3 (light pink)
#F6CD61 (pastel yellow)
#4D4D3F (dark green)
#8A9EE4 (darker blue)

END OF COLOR PALETTE */
@font-face {
    font-family: 'crossing';
    src: url(./crossing.ttf), format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    background-image: url(../images/tomnook.jpeg); 
}

#bigHead {
    font-family: 'crossing' !important;
}

li {
    background-color: #F9A7B3;
}
li:nth-child(odd) {
    background-color: #DBE2E6;
}
li:nth-child(even) {
    background-color: #FFFFFA;
}


.complete{
    background-color: #9dFFB0 !important;
    text-decoration: line-through;
}

.listHead {
    background-color:#E2C7A1;
    border-radius: 5px;
    margin-bottom: 4px;
}

.cardStyles{
    background-color: #FDF8E3;
}

#time{
    background-color: #4D4D3F;
    color: white;
    opacity: 40%;
}



